

# ignore vscode IDE settings files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
*.code-workspace
utils/infofiles/*
utils/logs/*
tested_firmware/heltec-v3/*
utils/nodes.csv
utils/configurator/nodes.csv
tested_firmware/archived/*

venv/
utils/configurator/infofiles
