

# ignore vscode IDE settings files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
*.code-workspace
utils/infofiles/*
utils/logs/*
tested_firmware/heltec-v3/*
utils/nodes.csv
utils/configurator/nodes.csv
utils/configurator/nodes_power.csv
utils/log_parse_args_trock.yml
tested_firmware/archived/*
meshapp/.mypy_ache
meshapp/src/__pycache__


venv/
utils/configurator/infofiles
utils/configurator/keys.txt
utils/configurator/hcru_mesh_nodes_keys.txt


